<h1>New User</h1>
<%# use form_for here because there is a model directly associated with this form %>
<%= form_for @user, url: signup_path do |f| %>
<%# we did not user restful routes so we have to use url syntax %>
<%= f.label :email %>
<%= f.email_field :email %>

<%# password_field shows dots instead of characters typed in %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.submit %>
<% end %>
