<!DOCTYPE html>
<html>
<head>
  <title>ArHomework</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="logo">NestedAuthPry</div>
    <div class="login">
      <% if current_user %>
      Logged in as: <strong>
        <%= current_user.email %>
      </strong>
      <%= link_to 'Sign Out', signout_path %>
      <% else %>
      <%= link_to 'Sign Up', signup_path %>
      <%= link_to 'Sign In', signin_path %>
      <% end %>
    </div>

  </header>

  <%= yield %>

</body>
</html>
